<% @list_qa.each do |k, v|%>
	<%case k%>
	<%when 1%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".1">Predicable <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".1">Predictable <i class="fa fa-arrow-down red"></i></p>
		<%end%>					
	<%when 2%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".2">Ponctuality <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".2">Ponctuality <i class="fa fa-arrow-down red"></i></p>
		<%end%>	
	<%when 3%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".3">Personal life <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".3">Personal life <i class="fa fa-arrow-down red"></i></p>
		<%end%>	
	<%when 4%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".4">Pay check in advance <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".4">Pay check in advance <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 5%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".5">Respecting rules <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".5">Respecting rules <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 6%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".6">Get the work done <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".6">Get the work done <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 7%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".7">Time efficient <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".7">Time efficient <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 8%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".8">Do the police <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".8">Do the police <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 9%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".9">Trustworthy <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".9">Trustworthy <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 10%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".10">Room for improvment <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".10">Room for improvment <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 11%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".11">Rush hours <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".11">Rush hours <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 12%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".12">Focused <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".12">Focused <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 13%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".13">Consistency <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".13">Consistency <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 14%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".14">Relation with others <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".14">Relation with others <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 15%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".15">Positive attitude <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".15">Positive attitude <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 16%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".16">Open to critics <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".16">Open to critics <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 17%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".17">To sure of him self <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".17">To sure of him self <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 18%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".18">Extra mile <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".18">Extra mile <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 19%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".19">Attitude and behaviour <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".19">Attitude and behaviour <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 20%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".20">Team work <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".20">Team work <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 21%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".21">Blend in <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".21">Blend in <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 22%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".22">Counting hours <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".22">Counting hours <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 23%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".23">Pressure on pay check or schedule <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".23">Pressure on pay check or schedule <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 24%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".24">Legal pressure <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".24">Legal pressure <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 25%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".25">Customer Drive <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".25">Customer Drive <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 26%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".26">Operational change <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".26">Operational change <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 27%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".27">Unpredictable situation <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".27">Unpredictable situation <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 28%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".28">Flexibility <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".28">Flexibility <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%when 29%>
		<% @i = @list_qa[k].to_i%>
		<% @u = @last_qu_hash[k].to_i%>
		<%if @u > @i %>
			<p class="click" data-toggle="modal" data-target=".29">Good to work with <i class="fa fa-arrow-up green"></i></p>
		<%else%>
			<p class="click" data-toggle="modal" data-target=".29">Good to work with <i class="fa fa-arrow-down red"></i></p>
		<%end%>
	<%else%>
		<p>Error</p>
	<%end%>
<%end%>
