<!-- Modals data BEGIN -->
<%c = 1%>
<%while c != 30%>

  <!-- Modal -->
  <div class="modal fade <%= c%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content row">
        <div class="col-xs-8">
          <%= line_chart Score.where(employee_id: @employee.id).limit(10).group(:created_at).sum("qu#{c}".to_sym), :library => {hAxis: {title: "Months", discrete: true, format: "MM"}, vAxis: {title: "Score", discrete: true}, title: "History of score Predictable"}, max: 5.5, min: 0%>
        </div>    
        <div class="col-xs-4">
          <% @scores.limit(5).each do |score|%>
            <ul>
              <li><strong><%=score.created_at.strftime("%A %B %d")%>: </strong><%= score.attribute_for_inspect("com#{c}")%></li>
            </ul>
          <%end%>
        </div>
      </div>
    </div>
  </div>

  <%c = c+1%>
<%end%>
<!-- Modals data END -->