<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 center pad-top pad-bot">
			<%= link_to employee_path(Employee.find(params["id"])) do%>
				<h3 class="p-score"><%= Employee.find(params["id"]).name%></h3>
			<%end%>			
			<i class="fa fa-pencil-square-o fa-2x"></i>
		</div>
	</div>
	<div class="row">
		<%= render 'form' %>
	</div>
</div>



