<h2>Sign up Basic account: <%= @user.email%></h2>

<script 

  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="A month's subscription"
  data-amount="500" 
  data-email="<%= @user.email%>" 
  data-allow-remember-me="false"


  >
</script>

<!-- :url => {:action => "create_new_basic"} -->