<h2>Sign up Basic account: <%= @user.email%></h2>

<%= form_tag new_basic_path do %>
  <article>
    <label class="amount">
      <span>Amount: $20.00</span>
    </label>
  </article>
<script 

  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="A month's subscription"
  data-amount="2000" 
  data-email="<%= @user.email%>" 
  data-allow-remember-me="false"


  >
</script>
<% end %>
<!-- :url => {:action => "create_new_basic"} -->