<h2 class="center pad">Sign Up for a Pro plan with <%= @user.email%></h2>

<%= form_tag new_pro_path do %>
  <article class="center">
    <label class="amount">
      <h3>Amount: $49.00</h3>
    </label>
  </article>
  <div class="center pad-bot3">
    <script 

    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="Pro plan"
    data-amount="4900" 
    data-email="<%= @user.email%>" 
    data-allow-remember-me="false"


    >
    </script>
  </div>

<% end %>
<!-- :url => {:action => "create_new_basic"} -->