<!-- Review -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

<!-- Keep track -->
<div class="modal fade 1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

<!-- Filter -->
<div class="modal fade 2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

<!-- Notice -->
<div class="modal fade 3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

<!-- Feedback -->
<div class="modal fade 4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

<!-- Delegate -->
<div class="modal fade 5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

<!-- Guidelines -->
<div class="modal fade 6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid">
        <div class="row">
          <h2 class="center pad-bot2">Before reviewing consider the following:</h2>
          <div class="col-xs-12">
            <ul class="ul_style justify"> 
              <li class="col-xs-offset-1 pad-bot2">The job must be clear to the employee</li>
              <li class="col-xs-offset-1 pad-bot2">Your expectation must be doable</li>
              <li class="col-xs-offset-1 pad-bot2">The employee has all the ressources needed to do his job</li>
              <li class="col-xs-offset-1 pad-bot2">The employee know who to report to</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>