
<div class="container-fluid">
	<div class="row center">
		<%= link_to 'Become a Manager', new_user_registration_path, class: "btn btn-default" %>
	</div>
	<div class="row center">
		<div class="col-xs-6">
			<%= link_to 'Connect as Manager', new_user_session_path, class: "btn btn-default" %>
		</div>
		<div class="col-xs-6">
			<%= link_to 'Connect as Reviewer', new_reviewer_session_path, class: "btn btn-default" %>
		</div>
	</div>
</div>



<h1>Welcome#index</h1>

