<h1>Restool App</h1>
<h3>Your people...</h3>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<div class="container-fluid">
	<div class="row center pad-top">
		<%= link_to 'Become a Manager', new_user_registration_path, class: "btn btn-default" %>
	</div>
	<div class="row pad-top">
		<%= render "navbar"%>
	</div>
</div>

<div class="container-fluid red" id="concept">
	<div class="row">
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>		
	</div>
</div>

<div class="container-fluid green" id="win-win">
	<div class="row">
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>		
	</div>
</div>

<div class="container-fluid blue" id="functioning">
	<div class="row">
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>		
	</div>
</div>

<div class="container-fluid black" id="pricing">
	<div class="row">
		<div class="col-md-4">
			<section>
				<div class="container-img">
					<i class="fa fa-smile-o fa-5x"></i>
				</div>
			</section>
			<section>
				<button type="button" class="btn btn-success">Free</button>
			</section>
			<section>
				<ul>
					<li>0 Euro</li>
					<li>1 Reviewers</li>
					<li>5 employees</li>
					<li>Forever free</li>
				</ul>
			</section>
		</div>
		<div class="col-md-4">
			<section>
				<div class="container-img">
					<i class="fa fa-smile-o fa-5x"></i>
				</div>
			</section>
			<section>
				<button type="button" class="btn btn-success">Basic</button>
			</section>
			<section>
				<ul>
					<li>29 Euro</li>
					<li>5 Reviewers</li>
					<li>25 employees</li>
					<li>Support</li>
				</ul>
			</section>
		</div>
		<div class="col-md-4">
			<section>
				<div class="container-img">
					<i class="fa fa-smile-o fa-5x"></i>
				</div>
			</section>
			<section>
				<button type="button" class="btn btn-success">Pro</button>
			</section>
			<section>
				<ul>
					<li>49 Euro</li>
					<li>10 Reviewers</li>
					<li>50 employees</li>
					<li>Support</li>
				</ul>
			</section>
		</div>
	</div>
</div>








