/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

h1 {
	text-shadow: 1px 0px 5px black;
	color: rgb(255,249,241);
}

h3 {
	font-size: 30px;
	letter-spacing: 5px;
}

h4{
	text-shadow: 1px 0px 5px black;
	color: rgb(255,249,241);
} 

select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.justify {
	text-align: justify;
}

.inherit {
	display: inherit;
}

#inherit {
	display: inherit;
}

.letter-spacing {
	letter-spacing: 15px;
}

.bg {
	background-image: url("home.png");
	background-size: 100%;
	background-repeat: no-repeat;
} 

.navbar {
	margin-bottom: 1px;
	background-color: black;
	opacity: 0.7;
}

.text-home{
    margin-right: 22%;
    margin-left: 22%;
    line-height: 41px;
    text-align: justify;
	text-shadow: 1px 0px 5px black;
	color: rgb(255,249,241);
	font-size: 21px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.pad {
	padding: 5%;
}

.white {
	color: white;
}

.pad-top {
	padding-top: 5%;
}

.pad-bot {
	padding-bottom: 5%;
}

.red {
	color: red;
	font-size: 16px;
/*	font-family: bold;*/
}

.green {
	color: green;
	font-size: 16px;
}

.click {
	cursor: pointer;
}

.blue {
	background-color: rgb(170,200,227);
	border-bottom: solid black;
}

.redi {
	background-color: rgb(227,130,128);
	border-bottom: solid black;
	padding-bottom: 8%;
}

.pad-bot2 {
	padding-bottom: 2%;
}

.pad-bot3 {
	padding-bottom: 15%;
}

.p-work {
	display: inline;
	font-size: 18px;
	vertical-align: 28%;
}

.p-acc {
	display: inline;
	font-size: 18px;
	vertical-align: 28%;
	padding-right: 20px;
}

.p-score {
	display: inline;
	font-size: 18px;
}

a:hover {
	text-decoration: none;
}

.pad-right {
	padding-right: 28px;
}

.black {
	color: rgb(170,200,227);
}

.container-img {

}

#pricing {
	padding-bottom: 5%;
	text-align: center;
}

.plan-features {
	padding: 0px;
	line-height: 250%;
	list-style: none;
}

.price {
	font-size: 25px;
	padding-bottom: 15px;
	padding-top: 5px;
}

.border-price {
	padding: 10px;
	border: 5px solid gray;
	margin: 58px;
	border-radius: 7%;
}

.border-price-nil {
	padding: 10px;
	border: 5px solid gray;
	margin: 58px;
	border-radius: 7%;
}

.border-price-basic {
	padding: 10px;
	border: 5px solid gray;
	margin: 58px;
	border-radius: 7%;
	margin-left: 30%;
	margin-right: 30%;
}

.border-price-plan {
	padding: 10px;
	border: medium solid #808080;
	border-radius: 7%;
	margin: 5%;
	font-size: 18px;
}

.border-cat {
	border: 1px solid black;
	border-radius: 15%;
	display: inline;
	padding: 10px;
}

.border-score {
	border: 1px solid black;

}

.ul_style {
	list-style: none;
}

.title_sub {
	padding-bottom: 5%;
	padding-top: 5%;
}

.title_up {
	border: medium solid black;
}

.btn-primary {
	background-color: whitesmoke;
	opacity: 0.8;
	border-color: black;
}

.btn-primary:hover {
	background-color: white;
}

.btn-success {
	background-color: rgb(227,130,128);
	border-color: black;
}

.btn-success:hover {
	background-color: rgb(227,130,128);
	opacity: 0.8;
}

.btn-lg {
	font-size: 40px;
	color: black;
}

.btn-lg:hover {
	font-size: 40px;
	color: black;
}

.absolute {
	position: absolute;
}

#concept_start{color:white;} 
#functioning_start{color: white;}
#pricing_start{color: white;}

.text-deco-none:hover {
	text-decoration: none;
}

.border-employee {
	border: 1px solid gray;
	border-radius: 25%;
	text-align: center;	
	background-color: whitesmoke;
	padding: 15px;
}

.border-reviewer {
	border: 1px solid gray;
	text-align: center;	
	background-color: whitesmoke;
	margin-left: -10px;
}

#pad-li-connected{
	padding-right: 62px;
}

input[type="checkbox"] {
    margin: 18px 0px 0px;
    line-height: normal;
}
.pad-employee {
	padding-bottom: 125px;
	padding-top: 50px;
}
.pad-edit {
	padding-bottom: 85px;
}
.pad-index {
	padding-bottom: 50px;
}
.pad-show {
	padding-bottom: 150px;
}
/*NAV BOTTOM*/
footer {
    clear: both;
    width: 100%;
    padding: 1rem 0px;
    border-top: 1px solid #E9E9E9;
    position: absolute;
    right: 0px;
    left: 0px;
    z-index: 1030;
}
.wide_wrapper {
    width: 95%;
    margin: 0px auto;
    max-width: 1440px;
}
footer #logo {
    width: 40px;
    display: inline-flex;
    float: left;
}
.navigation {
    float: right;
    padding: 0rem 2.5% 0px 0px;
}
footer .navigation {
    float: right;
    font-family: "brandon-grotesque",sans-serif;
    font-weight: 700;
    color: #4C5650;
}
footer .navigation a {
    color: #4C5650;
    margin-left: 1.5rem;
    line-height: 1;
    display: inline-block;
}
.pad-left-footer {
	padding-left: 18%;
}

/*RESPONSIVE*/

@media (max-width: 435px) {
	.bg {
		background-size: 320%;
	} 	
	.btn-lg {
		font-size: 20px;
		color: black;
	}
	.btn-lg:hover {
		font-size: 20px;
		color: black;
	}	
	.text-home{
		font-size: 12px;
	}	
	.border-price-nil {
		padding: 10px;
		border: 5px solid gray;
		margin: -5px;
		border-radius: 7%;
	}	
	.border-price-plan {
		padding: 10px;
		border: solid #808080;
		border-radius: 7%;
		margin: -16%;
		font-size: 10px;
	}	
	.price {
		font-size: 18px;
	}
	.pad-right {
		padding-right: 28px;
		font-size: 25px;
	}	
	.p-work {
	    display: inline;
	    font-size: 13px;
	    vertical-align: 28%;
	}	
	.blue {
	    background-color: #AAC8E3;
	    border-bottom: medium solid #000;
	    font-size: 11px;
	}	
	.border-score {
		border: 1px solid black;
		font-size: 8px;	
	}	
	.responsive-text {
		font-size: 10px;
	}
}
@media (min-width: 436px) and (max-width: 495px) {
	.btn-lg {
		font-size: 20px;
		color: black;
	}
	.btn-lg:hover {
		font-size: 20px;
		color: black;
	}	
	.bg {
		background-size: 200%;
	} 	
	.text-home{
		font-size: 15px;
	}	
	.border-price-nil {
		padding: 10px;
		border: 5px solid gray;
		margin: 20px;
		border-radius: 7%;
	}
	.border-price-plan {
		padding: 10px;
		border: medium solid #808080;
		border-radius: 7%;
		margin: -5%;
		font-size: 12px;
	}	
	.price {
		font-size: 20px;
	}	
}


@media (min-width: 496px) and (max-width: 580px) {
	.bg {
		background-size: 180%;
	} 	
	.text-home{
		font-size: 18px;
	}	
	.border-price-nil {
		padding: 10px;
		border: 5px solid gray;
		margin: 30px;
		border-radius: 7%;
	}	
	.border-price-plan {
		padding: 10px;
		border: medium solid #808080;
		border-radius: 7%;
		margin: -5%;
		font-size: 15px;
	}	
	.price {
		font-size: 22px;
	}		
}


@media (min-width: 581px) and (max-width: 835px) {
	.bg {
		background-size: 165%;
	} 
	.text-home{
		font-size: 22px;
	}	
	.border-price-plan {
		padding: 10px;
		border: medium solid #808080;
		border-radius: 7%;
		margin: -5%;
		font-size: 18px;
	}	
	.price {
		font-size: 22px;
	}	

}
@media print{
	.letter-spacing {
		display: none;
	}
	#print-score {
		display: none;
	}
	#print-margin1 {
		width: 50%;
	}
	#print-margin2 {
		width: 40%;
	}
	#pad-bot-print{
		padding-bottom: 4%;
	}
	#pad-bot-print-mini{
		padding-bottom: 6%;
	}
	#fontsize-print1{
		font-size: 30px;
		padding-bottom: 3%;
	}
	#fontsize-print2{
		font-size: 30px;
		padding-bottom: 3%;
	}
	.border-cat{
		display: none;
	}	
	#people-print {
		width: 100%;
	}
	#margin-bot-print{
		margin-bottom: 5%;
	}
	.border-employee {
		padding: none;
	}
	a[href]:after {
    	content: none !important;
  	}
}