/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

h1 {
	text-shadow: 1px 0px 5px black;
	color: rgb(255,249,241);
}

h3 {
	font-size: 30px;
	letter-spacing: 5px;
}

h4{
	text-shadow: 1px 0px 5px black;
	color: rgb(255,249,241);
} 

.bg {
	background-image: url("home.png");
	background-size: 100%;
	background-repeat: no-repeat;
} 

.navbar {
	margin-bottom: 1px;
	background-color: black;
	opacity: 0.7;
}

.text-home{
    margin-right: 22%;
    margin-left: 22%;
    line-height: 41px;
    text-align: justify;
	text-shadow: 1px 0px 5px black;
	color: rgb(255,249,241);
	font-size: 21px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.pad {
	padding: 5%;
}

.white {
	color: white;
}

.pad-top {
	padding-top: 5%;
}

.pad-bot {
	padding-bottom: 5%;
}

.red {
	color: red;
	font-size: 16px;
	font-family: bold;
}

.green {
	color: green;
}

.click {
	cursor: pointer;
}

.blue {
	background-color: rgb(170,200,227);
	border-bottom: solid black;
}

.redi {
	background-color: rgb(227,130,128);
	border-bottom: solid black;
	padding-bottom: 8%;
}

.pad-bot2 {
	padding-bottom: 2%;
}

.p-work {
	display: inline;
	font-size: 18px;
	vertical-align: 28%;
}

.p-acc {
	display: inline;
	font-size: 18px;
	vertical-align: 28%;
	padding-right: 20px;
}

a:hover {
	text-decoration: none;
}

.pad-right {
	padding-right: 28px;
}

.black {
	color: rgb(170,200,227);
}

.container-img {

}

#pricing {
	padding-bottom: 5%;
	text-align: center;
}

.plan-features {
	padding: 0px;
	line-height: 250%;
	list-style: none;
}

.price {
	font-size: 25px;
	padding-bottom: 15px;
	padding-top: 5px;
}

.border-price {
	padding: 10px;
	border: 5px solid gray;
	margin: 58px;
	border-radius: 7%;
}

.border-price-nil {
	padding: 10px;
	border: 5px solid gray;
	margin: 58px;
	border-radius: 7%;
}

.border-price-basic {
	padding: 10px;
	border: 5px solid gray;
	margin: 58px;
	border-radius: 7%;
	margin-left: 30%;
	margin-right: 30%;
}

.border-price-plan {
	padding: 10px;
	border: medium solid #808080;
	border-radius: 7%;
	margin: 5%;
	font-size: 18px;
}

.ul_style {
	list-style: none;
}

.title_sub {
	padding-bottom: 5%;
	padding-top: 5%;
}

.btn-primary {
	background-color: whitesmoke;
	opacity: 0.8;
	border-color: black;
}

.btn-primary:hover {
	background-color: white;
}

.btn-success {
	background-color: rgb(227,130,128);
	border-color: black;
}

.btn-success:hover {
	background-color: rgb(227,130,128);
	opacity: 0.8;
}

.btn-lg {
	font-size: 40px;
	color: black;
}

.btn-lg:hover {
	font-size: 40px;
	color: black;
}

.absolute {
	position: absolute;
}

#concept_start{color:white;} 
#functioning_start{color: white;}
#pricing_start{color: white;}

.text-deco-none:hover {
	text-decoration: none;
}

.border-employee {
	border: 1px solid gray;
	border-radius: 50%;
	text-align: center;	
}

.border-reviewer {
	border: 1px solid gray;
	text-align: center;	
}

/*RESPONSIVE*/

@media (max-width: 435px) {
	.bg {
		background-size: 320%;
	} 	
	.btn-lg {
		font-size: 20px;
		color: black;
	}
	.btn-lg:hover {
		font-size: 20px;
		color: black;
	}	
	.text-home{
		font-size: 12px;
	}	
	.border-price-nil {
		padding: 10px;
		border: 5px solid gray;
		margin: -5px;
		border-radius: 7%;
	}	
	.border-price-plan {
		padding: 10px;
		border: solid #808080;
		border-radius: 7%;
		margin: -16%;
		font-size: 10px;
	}	
	.price {
		font-size: 18px;
	}
	.pad-right {
		padding-right: 28px;
		font-size: 25px;
	}	
	.p-work {
	    display: inline;
	    font-size: 13px;
	    vertical-align: 28%;
	}	
	.blue {
	    background-color: #AAC8E3;
	    border-bottom: medium solid #000;
	    font-size: 11px;
	}	
}
@media (min-width: 436px) and (max-width: 495px) {
	.btn-lg {
		font-size: 20px;
		color: black;
	}
	.btn-lg:hover {
		font-size: 20px;
		color: black;
	}	
	.bg {
		background-size: 200%;
	} 	
	.text-home{
		font-size: 15px;
	}	
	.border-price-nil {
		padding: 10px;
		border: 5px solid gray;
		margin: 20px;
		border-radius: 7%;
	}
	.border-price-plan {
		padding: 10px;
		border: medium solid #808080;
		border-radius: 7%;
		margin: -5%;
		font-size: 12px;
	}	
	.price {
		font-size: 20px;
	}	
}


@media (min-width: 496px) and (max-width: 580px) {
	.bg {
		background-size: 180%;
	} 	
	.text-home{
		font-size: 18px;
	}	
	.border-price-nil {
		padding: 10px;
		border: 5px solid gray;
		margin: 30px;
		border-radius: 7%;
	}	
	.border-price-plan {
		padding: 10px;
		border: medium solid #808080;
		border-radius: 7%;
		margin: -5%;
		font-size: 15px;
	}	
	.price {
		font-size: 22px;
	}		
}


@media (min-width: 581px) and (max-width: 835px) {
	.bg {
		background-size: 165%;
	} 
	.text-home{
		font-size: 22px;
	}	
	.border-price-plan {
		padding: 10px;
		border: medium solid #808080;
		border-radius: 7%;
		margin: -5%;
		font-size: 18px;
	}	
	.price {
		font-size: 22px;
	}	

}