/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


h3 {
	font-size: 30px;
	letter-spacing: 5px;
}

.bg {
	background-image: url("home.png");
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 10%;
	text-shadow: 1px 0px 5px;
	color: rgb(255,249,241);
} 

.navbar {
	background-color: transparent;
	margin-bottom: 1px;
	background-color: black;
}

.text-home{
    margin-right: 22%;
    margin-left: 22%;
    line-height: 41px;
    text-align: justify;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.pad {
	padding: 5%;
}

/*.pad_nav {
	background-color: black;
	color: white;
}*/

.pad-top {
	padding-top: 5%;
}

.pad-bot {
	padding-bottom: 5%;
}

.red {
	color: red;
}

.green {
	color: green;
}

.click {
	cursor: pointer;
}

.blue {
	background-color: rgb(170,200,227);
}

.redi {
	background-color: rgb(227,130,128);
}

.black {
	background-color: rgb(227, 221,212);
}

.container-img {

}

#pricing {
	padding-bottom: 5%;
	text-align: center;
}

.plan-features {
	padding: 0px;
	line-height: 250%;
	list-style: none;
}

.price {
	font-size: 25px;
	padding-bottom: 15px;
	padding-top: 5px;
}

.border-price {
	padding: 10px;
	border: 5px solid gray;
	margin: 75px;
	border-radius: 7%;
}

.ul_style {
	list-style: none;
}

.position_gears {
	padding-left: 25%;
}

.title_sub {
	padding-bottom: 5%;
	padding-top: 5%;
}

.btn-primary {
	background-color: aliceblue;
	opacity: 0.8;
}

.btn-lg {
	font-size: 40px;
}



